* {
    text-align: center;
}

.card {
    border: 2px solid #2f7ee6;
    
    max-width: 20rem;
    margin: 50px auto;
    border-radius: 10px;
}

img {
    border-radius: 100%;
    width: 40%;
    padding-top: 20px;
}

.d {
    border: 0.5px solid rgba(30, 30, 30, 0.2);
    margin: 10px;
    background-color: rgba(235, 249, 147, 0.2);
    border-radius: 15px;
}

.follow {
    background-color: #2f7ee6;
    color: white;
    margin: 10%;
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 20px;


}